<!-- Begin MailChimp Signup Form -->
#mc_embed_signup
  form#mc-embedded-subscribe-form.validate.form-inline(
  action="//elcreativegroup.us9.list-manage.com/subscribe/post?u=44c6399d595a10adb3593d069&id=7f15b9ebf8",
  method="post",
  name="mc-embedded-subscribe-form",
  target="_blank",
  novalidate=true)
    .form-group
      label.control-label(for="mce-EMAIL") Email Address #[span.asterisk *] &nbsp;
      input#mce-EMAIL.required.email.form-control(type="email", name="EMAIL", value="")
      &nbsp;

    button#mc-embedded-subscribe.btn.btn-primary(type="submit", name="subscribe") Get on the list!

      #mce-responses.clear
        #mce-error-response.response(style="display:none")
        #mce-success-response.response(style="display:none")

      div(style="position: absolute; left: -5000px;")
        input(type="text", name="b_44c6399d595a10adb3593d069_7f15b9ebf8", tabindex="-1", value="")
