<!-- Begin MailChimp Signup Form -->
#mc_embed_signup
  form#mc-embedded-subscribe-form.validate(
  action="//elcreativegroup.us9.list-manage.com/subscribe/post?u=44c6399d595a10adb3593d069&id=7f15b9ebf8",
  method="post",
  name="mc-embedded-subscribe-form",
  target="_blank",
  novalidate=true)
    .row
      .col-sm-8.col-sm-offset-2
        .form-group.form-group-lg
          label(for="mce-EMAIL") Email Address

        .form-group.form-group-lg
          input#mce-EMAIL.required.email.form-control(type="email", name="EMAIL", value="", placeholder="your@email.here")

    .row
      .col-sm-4.col-sm-offset-2
        .form-group.form-group-lg
          button#mc-embedded-subscribe.btn.btn-lg.btn-champ(type="submit", name="subscribe") Get on the List

      #mce-responses.clear
        #mce-error-response.response(style="display:none")
        #mce-success-response.response(style="display:none")

      div(style="position: absolute; left: -5000px;")
        input(type="text", name="b_44c6399d595a10adb3593d069_7f15b9ebf8", tabindex="-1", value="")
