mixin roundEye(headline, copy, imgSrc, invert)
  - if (typeof invert === "undefined")
    - invert = false

  .round-eye(class=attributes.class)
    .round-eye-inner
      .round-eye-header
        - if (!invert)
          h2=headline

      .round-eye-body
        .img-wrap
          img.round-eye-img.img-responsive(src=imgSrc)

        - if (invert)
          h2= headline

        p= copy

      .round-eye-footer

extends layouts/base
block body
  .masthead
    header
      .container
        .row
          .col-sm-6
            img.center-block.img-responsive(src="/img/logo.png")

  section.intro-to-steve
    .container
      .row
        .col-sm-12
          .text-center
            h1.invert-shadow Do you want to get fit, and stay healthy?
            h2 I can help with that.  I'm Steven Newsome.

          p.text-center.h3.
            Achieve the results you want through my personalized training programs.

          .cta-wrap
            p.hidden-lg.hidden-md.hidden-sm.text-center.
              Get in touch today for your free fitness and nutrition assessment.

            a.contact-cta.center-block(href="/#contact-me")
              button.center-block.btn.btn-lg.btn-cta(type="button")
                span Contact Me Today
                span.hidden-xs &nbsp;to Get Your Free Assessment

  section.threebies.concrete-bg
    .container
      .row
        .col-md-4
          +roundEye("Nutrition", "", "/img/chicken_round.png", true).champ
        .col-md-4
          +roundEye("Hard Work", "", "/img/hard_work.png", true).champ
        .col-md-4
          +roundEye("Results", "", "/img/circle_thing.png", true).champ

      .row
        .col-sm-12.text-center
          p.h3.
            Achieve the best shape of your life and learn the techniques to harness
            your power and ability while getting completely buff.

  section.long-form-pitch
    .container
      .row
        .col-md-8
          h2 Feed Your Machine

          .orange-pinstripe-bg.pad-me.skew-me
            p.
              Every person’s body is a machine that needs the right fuel in order
              to run correctly. People who choose me as their certified fitness
              instructor can stop stressing about dieting and learn how to eat
              smarter. Eating healthy doesn’t have to be as difficult as people
              make it out to be as long as bad habits can be overcome. My
              nutrition program will give people the education they need to
              overcome those bad habits. To help people get the fuel they should
              have for their goals, I give each client guidelines for meal prep
              and instructions for living in the kitchen the right way.

            .skew-you.left

        .col-md-4
          img.center-block.img-responsive(src="/img/nutrition.jpg")

      .row
        .col-md-8.col-md-push-4
          h2 Work Hard

          .orange-pinstripe-bg.pad-me.skew-me
            p.
              Ultimately, my mission as a certified fitness instructor is to help
              people live healthier lives by teaching them exercises and routines
              that work for the body, not against it. I was born to train people
              and work hard alongside them. Being healthy means being in it for
              the long haul and working out safely in the gym. I promise to give
              each of my clients the dedication and careful attention they
              deserve, so that they can overcome the personal obstacles
              preventing them from being fit and living happier lives. With my
              championship-level program, clients are guaranteed to work hard
              and see the results they have always wanted.

            .skew-you.right

        .col-md-4.col-md-pull-8
          img.center-block.img-responsive(src="/img/blonde_lady_doing_work.jpg")

      .row
        .col-md-8
          h2 Get The Results You Deserve

          .orange-pinstripe-bg.pad-me.skew-me
            p.
              Everyone in the gym has their own goals. I have helped so many
              people already to achieve their health and fitness goals through
              better nutrition and hard work. It’s important for people to set
              and know their fitness goals. My program will help clients create
              realistic goals, push past their limits, and meet their goals in
              healthy ways. Whether it’s adding body mass or losing weight, my
              entire program is tailored to the individual who wants to be
              stronger and live longer. I specialize in both building muscle and
              burning fat. People with all body types and fitness levels can get
              great training and results with my fitness program.

            .skew-you.left

        .col-md-4
          img.center-block.img-responsive(src="/img/results.jpg")

  mixin fieldGroup(type, label, name, placeholder)
    - if (typeof placeholder === "undefined")
       - placeholder = ""

    - if (type === "text")
      .form-group
        label.form-label(for="#{name}")= label
        input.form-control(type="text", name="#{name}", placeholder="#{placeholder}")


    - else if (type === "textarea")
      .form-group
        label.form-label(for="#{name}")= label
        textarea.form-control(name="#{name}", placeholder="#{placeholder}")

  section#contact-me.contact-me
    .container
      .row
        .col-sm-12
          h1.text-center.
            Get in touch with me today and we'll start planning your new lifestyle.

      form(action="/contact-form", method="post")
        .row
          .col-sm-8.col-sm-offset-2
            +fieldGroup("text", "Your Name", "clientName", "J. Doe")

            +fieldGroup("text", "Your Email", "clientEmail", "you@email.com")

            +fieldGroup("text", "Your Number", "clientPhone", "(555) 555 1234")

            +fieldGroup("textarea", "Tell me about your number one goal", "clientGoal", "Live a better life!")

        .row
          .col-sm-8.col-sm-offset-2
            button.btn.btn-lg.btn-champ(type="submit") Contact Me to Get Started!
            p Send me your info and I'll help you get started with a free training and nutrition assesment.

  section.about-me#about-me
    .container
      .row
        .col-sm-3
          img.img-responsive(src="/img/portrait.jpg", alt="A portrait of Steven Newsome, owner of Championship Trophy Fit.")

        .col-sm-9
          h3 Learn Some About Me

          p.
            Everyone has a reason to work toward their fitness and health. Some
            people love to compete and are born into athletics. Some people
            need encouragement in the gym and want to work on themselves. With
            my certified instruction, everyone has a place. My drive and
            discipline for fitness came from my family. They encouraged me to
            play sports and be active as a kid. I learned to have my own
            discipline and how to workout both my body and mind at a young age,
            and I have seen first-hand the damage that bad health can have on
            both a person and their family.

          a(href="//championshiptrophyfit.com/blog/")
            button.btn.btn-lg.btn-read-more(type="button") Read More on My Blog

