mixin roundEye(headline, copy, imgSrc, invert)
  - if (typeof invert === "undefined")
    - invert = false

  .round-eye(class=attributes.class)
    .round-eye-inner
      .round-eye-header
        - if (!invert)
          h2=headline

      .round-eye-body
        .img-wrap
          img.round-eye-img.img-responsive(src=imgSrc)

        - if (invert)
          h2= headline

        p= copy

      .round-eye-footer

extends layouts/base
block body
  .masthead
    header
      .container
        .row
          .col-sm-6
            img.center-block.img-responsive(src="/img/logo.png")

  section.intro-to-steve
    .container
      .row
        .col-sm-12
          .text-center
            h1 Do you want to get fit, and stay healthy?
            h2 I can help with that.  I'm Steven Newsome.

          p.text-center.h3.
            I'm a personal trainer and I might be the best thing that happens
            to you this year.

  section.threebies.concrete-bg
    .container
      .row
        .col-md-4
          +roundEye("Nutrition", "", "/img/chicken_round.png", true).champ
        .col-md-4
          +roundEye("Hard Work", "", "/img/hard_work.png", true).champ
        .col-md-4
          +roundEye("Results", "", "/img/circle_thing.png", true).champ

      .row
        .col-sm-12.text-center
          p.h3.
            Achieve the best shape of your life and learn the techniques to harness
            your power and ability while getting completely buff.

  section.long-form-pitch
    .container
      .row
        .col-sm-8
          h2 Feed Your Machine

          .orange-pinstripe-bg.pad-me.skew-me
            p.
              Every person’s body is a machine that needs the right fuel in order
              to run correctly. People who choose me as their certified fitness
              instructor can stop stressing about dieting and learn how to eat
              smarter. Eating healthy doesn’t have to be as difficult as people
              make it out to be as long as bad habits can be overcome. My
              nutrition program will give people the education they need to
              overcome those bad habits. To help people get the fuel they should
              have for their goals, I give each client guidelines for meal prep
              and instructions for living in the kitchen the right way.

            .skew-you.left

        .col-sm-4
          img.img-responsive(src="/img/nutrition.jpg")

      .row
        .col-sm-8.col-sm-push-4
          h2 Work Hard

          .orange-pinstripe-bg.pad-me.skew-me
            p.
              Ultimately, my mission as a certified fitness instructor is to help
              people live healthier lives by teaching them exercises and routines
              that work for the body, not against it. I was born to train people
              and work hard alongside them. Being healthy means being in it for
              the long haul and working out safely in the gym. I promise to give
              each of my clients the dedication and careful attention they
              deserve, so that they can overcome the personal obstacles
              preventing them from being fit and living happier lives. With my
              championship-level program, clients are guaranteed to work hard
              and see the results they have always wanted.

            .skew-you.right

        .col-sm-4.col-sm-pull-8
          img.img-responsive(src="/img/blonde_lady_doing_work.jpg")

      .row
        .col-sm-8
          h2 Get The Results You Deserve

          .orange-pinstripe-bg.pad-me.skew-me
            p.
              Everyone in the gym has their own goals. I have helped so many
              people already to achieve their health and fitness goals through
              better nutrition and hard work. It’s important for people to set
              and know their fitness goals. My program will help clients create
              realistic goals, push past their limits, and meet their goals in
              healthy ways. Whether it’s adding body mass or losing weight, my
              entire program is tailored to the individual who wants to be
              stronger and live longer. I specialize in both building muscle and
              burning fat. People with all body types and fitness levels can get
              great training and results with my fitness program.

            .skew-you.left

        .col-sm-4
          img.img-responsive(src="/img/results.jpg")

  mixin fieldGroup(type, label, name, placeholder)
    - if (typeof placeholder === "undefined")
       - placeholder = ""

    - if (type === "text")
      label.form-label(for="#{name}")= label
      input.form-control(type="text", name="#{name}", placeholder="#{placeholder}")


    - else if (type === "textarea")
      label.form-label(for="#{name}")= label
      textarea.form-control(name="#{name}", placeholder="#{placeholder}")

  section#contact-me.contact-me
    .container
      .row
        .col-sm-12
          h1.text-center.
            Get in touch with me today and we'll start planning your new lifestyle.

      form(action="/contact-form", method="post")
        .row
          .col-sm-8.col-sm-offset-2
            +fieldGroup("text", "Your Name", "clientName", "J. Doe")

            +fieldGroup("text", "Your Email", "clientEmail", "you@email.com")

            +fieldGroup("text", "Your Number", "clientPhone", "(555) 555 1234")

            +fieldGroup("textarea", "Tell me about your number one goal", "clientGoal", "Live a better life!")

        .row
          .col-sm-8.col-sm-offset-2
            button.btn.btn-lg.btn-champ(type="submit") Let's Make a Better You

  section.about-me#about-me
    .container
      .row
        .col-sm-3
          img.img-responsive(src="/img/portrait.jpg", alt="A portrait of Steven Newsome, owner of Championship Trophy Fit.")

        .col-sm-9
          h3 Learn Some About Me

          p.
            "Consul," said he, without preamble, "I have strong reasons for
            believing that my man is a passenger on the Mongolia." And he narrated
            what had just passed concerning the passport. "Well, Mr. Fix," replied
            the consul, "I shall not be sorry to see the rascal's face; but perhaps
            he won't come here&mdash;that is, if he is the person you suppose him
            to be.  A robber doesn't quite like to leave traces of his flight
            behind him; and, besides, he is not obliged to have his passport
            countersigned." "If he is as shrewd as I think he is, consul, he will
            come." "To have his passport visaed?" "Yes.  Passports are only good
            for annoying honest folks, and aiding in the flight of rogues.  I
            assure you it will be quite the thing for him to do; but I hope you
            will not visa the passport." "Why not?  If the passport is genuine I
            have no right to refuse." "Still, I must keep this man here until I
            can get a warrant to arrest him from London." "Ah, that's your
            look-out.  But I cannot&mdash;" The consul did not finish his
            sentence, for as he spoke a knock was heard at the door, and two
            strangers entered, one of whom was the

